
		<div class="row "><!-- row 3 open -->		
			</div>
				<div class="col-xs-12">
					<div class="col-md-4">
						<h2>Sipping the day away <br /> one leaf at a time.</h2>
					</div>
					<img src="/images/teaballandglass.jpg"  class="img-responsive center-block ball">
				</div><!-- /column1 -->


		</div><!-- /CLOSE ROW 3 -->

			
