<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bootstrap: ACME</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div class="container-fluid">
		<!-- ________________FIRST ROW  LOGO_______________________-->

		<div class="row "><!-- row 1 open -->

			<div class="col-xs-12">
				<img src="/images/mhtr-biglogo.gif">
			</div><!-- /0column1 -->

		</div><!-- CLOSE FIRST ROW-->

		<!-- _____________SECOND ROW NAV BAR_____________________-->

		<div class="row "><!-- row 2 open -->
			<div class="nav">

				<div class="col-xs-4">
					<!-- for cannibis site -->
				</div><!-- /column1 -->



				<div class="col-xs-8">
					About Us
					Our Menu
					Our Tea List & Herbs
					Our Location

				</div><!-- /column2 -->

			</div><!-- CLOSE NAV BAR -->

		</div><!--__ CLOSE 2nd ROW-->

		<!--_____________ CLASS THIRD ROW __________________ -->


	</div>
</body>
</html>				
