	<div class="row "><!-- row 3 open -->
			
				<div class="col-xs-12">
					<img src="/images/leaves.JPG"  class="img-responsive center-block">
				</div><!-- /column1 -->

		</div><!-- /CLOSE ROW 3 -->