@import 'bourbon/bourbon';


$mhtr-red: #9E005D;
$mhtr-green: #84B02F;



body{
	background-color: $mhtr-red;
}

.nav{
	background-color: gray;
}

h4{
	color: white;
	font-family: "Arial", sans-serif;
	padding-left: 60px;
	display: inline;
}

img{
	padding-top: 10px;
}






@media all and (max-width: 800px){ 
	body{     background-color: gray;   } }
